.news-card {
  min-width: 300px;
  min-height: 350px;
  background-color: $black;
  color: $white;
  background-image: linear-gradient(85deg, $card-gradient-f, $card-gradient-s);
  padding: 15px 30px 15px 25px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  position: relative;
  transition: all 200ms;

  &:not(&:first-child) {
    box-shadow: -16px 0 30px $black;
  }

  &:hover,
  &:focus {
    transform: translate(-15px, -5px) rotate(3deg);
    outline: none;
  }
}

.news-card__heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.17;
}

.news-card__status {
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.17;
  background: linear-gradient(to right, red, orange, yellow, green, blue, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &--done {
    color: $gray;
    -webkit-text-fill-color: unset;
    background: none;
  }
}

.news-card__layout {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.news-card__author {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  order: 2;
}

.news-card__time {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 4px;
}

.news-card__excerpt {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
  margin-top: auto;
  margin-bottom: 35px;
  padding: 5px 5px 5px 0;
  align-self: flex-start;
  position: relative;
  color: $orange;

  &:hover,
  &:focus {
    outline: none;
    color: rgba($orange, 0.7);
  }
}
