.news {
  min-height: 500px;
  padding-bottom: 100px;
}

.news h1 {
  font-weight: bold;
  font-size: 50px;
  line-height: 1.2;
}

.news__list {
  display: none;
  list-style: none;
  margin: 0;
  overflow-x: scroll;
  padding: 30px 5px 30px 35px;
  position: relative;

  &::-webkit-scrollbar {
    height: 16px;
    background-color: white;
    border-radius: 25px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(66, 66, 66);
    border-radius: 25px;
  }
}
