$font: "Montserrat", "Arial", sans-serif;

//size
$small: 320px;
$medium: 768px;
$large: 1024px;

$s-end: 767px;
$m-end: 1250px;
$l-end: 1400px;
//colors
$white: #ffffff;
$gary-light: #f8f8f8;
$gray: #999;
$orange: #ff7a18;
$brown: #5b4636;
$black: #000000;
